.setups-study-search {
    width: 300px;
    margin-bottom: 1rem;
}
.asset-info-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    color: var(--bs-body-color)
}