.dashboard-card-container {
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--bs-card-bg);
  border-radius: 2px;
  cursor: pointer;
}

.dashboard-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--pc-heading-color);
}

.dashboard-card-title {
  font-weight: 600;
  font-size: 16px;
}

.dashboard-card-count {
  font-weight: 700;
  font-size: 18px;
  color: var(--pc-heading-color);
}
