.dashboard-card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 1rem;
}

.dashboard-card-wrapper {
  flex: 1 1 100%;
}

@media (min-width: 576px) {
  .dashboard-card-wrapper {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (min-width: 768px) {
  .dashboard-card-wrapper {
    flex: 1 1 calc(33.33% - 16px);
  }
}

@media (min-width: 992px) {
  .dashboard-card-wrapper {
    flex: 1 1 calc(25% - 16px);
  }
}

@media (min-width: 1200px) {
  .dashboard-card-wrapper {
    flex: 1 1 calc(20% - 16px);
  }
}

.dashboard-card-container {
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--crt-dashboard-card-background);
  border-radius: 2px;
  cursor: pointer;
  box-shadow: var(--pc-card-box-shadow);
}

.dashboard-card-container > .ant-card-body {
  padding: 24px 10px;
}

.dashboard-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--crt-dashboard-card-text-color);
}

.dashboard-card-title {
  font-weight: 600;
  font-size: 14px;
}

.dashboard-card-count {
  font-weight: 700;
  font-size: 16px;
  color: var(--crt-dashboard-card-count-text-color);
}
.dashboard-card-wrapper.selected {
  border: 2px solid var(--crt-primary-orange);
  border-radius: 5px;
}
.ellipsis-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}