.crt-sidebar-content ul {
    list-style: none;
    padding-left: 0
}

.crt-sidebar-content .pc-caption label  {
    color: var(--crt-sidebar-caption-color);
    display: block;
    padding: 24px 23px 8px!important;
    text-transform: uppercase;
    position: relative;
    line-height: 1.66;
    font-size: 11px;
    font-weight: 600
}

.crt-sidebar-content .pc-caption:first-child {
    padding-top: 10px!important
}

.crt-sidebar-contentr .pc-caption i,.crt-sidebar-content .pc-caption svg,.crt-sidebar-content .pc-caption:first-child::after {
    display: none
}

.crt-sidebar-content .pc-caption span:not(.badge) {
    display: block;
    color: #67758a;
    font-size: 14px;
    font-weight: 500
}

.crt-sidebar-content .pc-micon {
    margin-right: 15px;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.crt-sidebar-content .pc-micon i {
    font-size: 18px;
    vertical-align: text-top
}

.crt-sidebar-content .pc-micon>svg {
    width: 18px;
    height: 18px;
    display: inline-block
}

.crt-sidebar-content .pc-link {
    display: block;
    padding: 10px 20px;
    color: var(--crt-sidebar-color);
    position: relative;
    font-size: 14px;
    font-weight: 400
}

.crt-sidebar-content .pc-link.active,.crt-sidebar-content .pc-link:focus,.crt-sidebar-content .pc-link:hover {
    text-decoration: none
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) {
    position: relative
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption)>.pc-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .1
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).active,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).pc-trigger,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption):hover {
    background: var(--crt-sidebar-active-background);
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).active:before,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).pc-trigger:before,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption):hover:before {
    background: var(--crt-sidebar-active-color)
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).active>.pc-link,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).pc-trigger>.pc-link,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption):hover>.pc-link {
    font-weight: 500;
    color: var(--crt-sidebar-main-active-color)
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).active>.pc-link:after,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).pc-trigger>.pc-link:after,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption):hover>.pc-link:after {
    background: #000
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu {
    padding: 15px 0
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-item>.pc-link:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 16px;
    width: 5px;
    height: 5px;
    background: var(--crt-sidebar-color);
    opacity: 0;
    transition: all 80ms cubic-bezier(.37,.24,.53,.99)
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-item.active>.pc-link,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-item.pc-trigger>.pc-link {
    font-weight: 500;
    color: var(--crt-sidebar-active-color);
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-item.active>.pc-link:after,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-item.pc-trigger>.pc-link:after,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-item:focus>.pc-link:after,.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-item:hover>.pc-link:after {
    opacity: 1;
    transform: scale(1.2);
    background: var(--crt-sidebar-active-color)
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu:after {
    left: 30px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-link {
    padding: 7px 30px 7px 60px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-link:after {
    left: 28px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-submenu:after {
    left: 46px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-submenu .pc-link {
    padding: 7px 30px 7px 80px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-submenu .pc-link:after {
    left: 62px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-submenu .pc-submenu:after {
    left: 63px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-submenu .pc-submenu .pc-link {
    padding: 7px 30px 7px 95px
}

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption) .pc-submenu .pc-submenu .pc-submenu .pc-link:after {
    left: 79px
}

.crt-sidebar-content .pc-item.disabled a {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.crt-sidebar-content .pc-arrow {
    float: right;
    display: inline-block;
    transition: all .2s ease-in-out
}

.crt-sidebar-content .pc-arrow>svg {
    width: 14px;
    height: 14px
}

.crt-sidebar-content .pc-badge {
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--crt-sidebar-main-active-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    float: right;
    background: var(--crt-sidebar-active-color)
}
.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption):hover>.pc-link>.pc-mtext {
    font-weight: 500;
    color: var(--crt-sidebar-main-active-color) !important;
} 

.crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).active, .crt-sidebar-content .pc-navbar>.pc-item:not(.pc-caption).pc-trigger {
background: var(--crt-sidebar-active-background);
}