.crt-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1026;
  overflow: hidden;
  background: var(--crt-sidebar-background);
  box-shadow: 1px 0 20px 0 var(--crt-sidebar-background);
  transition: all 0.3s ease-in-out;
}

.crt-sidebar-header {
  max-height: 74px;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  box-sizing: border-box;
  background-color: var(--crt-sidebar-background);
}

.crt-logo-image {
  width: 32px;
  height: 32px;
}

.crt-logo-text {
  margin-left: 8px;
  font-size: 18px;
  color: var(--crt-sidebar-main-active-color);
}

.crt-menu-container {
  height: calc(100vh - 74px);
}
.simplebar-scrollbar::before {
  background-color: #9cb7d2;
}

.crt-sidebar-content {
  position: relative;
  padding: 10px 0;
  background: var(--crt-sidebar-background);
}
