.breadcrumb-header {
  padding-bottom: 5px;
}
.breadcrumb-header .h5,
.breadcrumb-header h5 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--crt-breadcrumb-title-color);
}
.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-icon {
  margin-right: 5px;
}

.breadcrumb-header .breadcrumb {
  padding: 0;
  display: inline-flex;
  background: 0 0;
  font-size: 14px;
}
.breadcrumb-header li.ant-breadcrumb-separator {
  display: flex;
  align-items: anchor-center
}
.breadcrumb-header .breadcrumb {
  color: var(--crt-breadcrumb-link-color);
  cursor: pointer;
}

.breadcrumb-header .breadcrumb .ant-breadcrumb-link:hover {
  color: var(--crt-breadcrumb-link-hover-color);
}
.breadcrumb-header .breadcrumb ol > li:last-child {
  color: var(--crt-breadcrumb-link-hover-color);
  font-weight: 500;
}
.ant-breadcrumb .ant-breadcrumb-overlay-link {
    display: flex
}
@media (max-width: 575.98px) {
  .breadcrumb-header .h5,
  .breadcrumb-header h5 {
    padding-bottom: 5px;
    margin-bottom: 0;
    border-right: none;
    font-size: 14px;
  }

  .breadcrumb-header .breadcrumb {
    display: flex;
    margin-bottom: 0;
    font-size: 12px;
  }

  .breadcrumb-header .text-md-right {
    margin-top: 5px;
  }
}
