.crt-header {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--crt-header-background);
  color: var(--crt-header-color);
  backdrop-filter: blur(7px);
  box-shadow: var(--crt-header-shadow);
  transition: left 0.2s ease;
}

.crt-header-left,
.crt-header-right {
  display: flex;
  align-items: center;
}
.crt-time {
  display: flex;
}
.crt-header-icon {
  padding-left: 2px;
}

.crt-header-icon:hover, .crt-header-icon:hover .ant-btn-icon {
  color: var(--crt-header-icon-hover-color);
  cursor: pointer;
}
.header-preference-btn:hover{
  color: #ffffff !important;
  background: #1de9b6 !important;
  border-color: #1de9b6;
}