.crt-header {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pc-header-background);
  color: var(--pc-header-color);
  backdrop-filter: blur(7px);
  box-shadow: var(--pc-header-shadow);
  transition: left 0.2s ease;
}

.crt-header-left,
.crt-header-right {
  display: flex;
  align-items: center;
}

.crt-header-icon {
  font-size: 18px;
  padding: 5px;

}

.crt-header-icon:hover .anticon {
  color: var(--crt-header-icon-hover-color);
  cursor: pointer;
}