.crt-settings-panel .ant-drawer-header-title{
  flex-direction: row-reverse;
}
.crt-settings-panel .crt-settings-panel-title, .crt-settings-panel .crt-settings-panel-section-title {
  color: var(--pc-heading-color);
  font-weight: 400;
  margin: 0;
}
.crt-settings-panel p.crt-setting-panel-sub-section {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--crt-setting-panel-sub-section);
}
.crt-settings-panel .crt-reset-button {
  margin-right: 10px;
  color: var(--pc-heading-color);
  border-color: var(--crt-primary-orange);
  padding: 10px;
}
.crt-settings-panel .crt-reset-button:hover {
  background-color: var(--crt-primary-orange) !important;
  color: whitesmoke !important;
}
.crt-color-swatches {
  max-height: 100px;
}
.color-swatch {
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 0;
  position: relative;
  width: 25px;
  height: 45px;
}

.color-swatch:hover {
  transform: scale(1.1);
}

.color-swatch.active {
  border-width: 2px;
  box-shadow: 0 0 8px rgba(24, 144, 255, 0.5);
  width: 45px;
}

.color-swatch .anticon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #FFFFFF;
  font-size: 16px;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  z-index: 2;
}

.color-swatch.active .anticon {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.crt-setting-panel-save-button {
  background-color: var(--crt-primary-orange);
  color: #FFFFFF;
  border: none;
}
.crt-setting-panel-save-button:hover {
  color: var(--crt-primary-orange) !important;
  border: 1px solid var(--crt-primary-orange) !important;
}
.ant-drawer-content-wrapper {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
