[data-theme="light"],
:root {
  --bs-body-bg: #f4f7fa;
  --bs-body-bg-rgb: 244, 247, 250;
  --pc-heading-color: #1d2630;
  --pc-active-background: #f3f5f7;
  --crt-sidebar-background: #3f4d67;
  --crt-primary-orange: #e46c09;
  --crt-sidebar-color: #a9b7d0;
  --crt-setting-panel-sub-section: #748892;
  --crt-sidebar-color-rgb: 169, 183, 208;
  --crt-sidebar-active-color: #04a9f5;
  --crt-sidebar-active-background: rgba(0, 0, 0, 0.1);
  --crt-sidebar-main-active-color: #fff;
  --crt-sidebar-shadow: 1px 0 20px 0 #3f4d67;
  --crt-sidebar-caption-color: #e8edf7;
  --crt-sidebar-border: none;
  --crt-sidebar-scrollbar-color: #9cb7d2;
  --crt-sidebar-caption-secondary-text-color: #67758a;
  --crt-sidebar-link-active-highlight-color: rgba(0, 0, 0, 0.1);
  --crt-footer-background: var(--bs-body-bg);
  --crt-footer-text-color: var(--bs-body-color);
  --crt-app-layout-background: var(--bs-body-bg);
  --crt-app-layout-text-color: var(--bs-body-color);
  --crt-dashboard-card-background: var(--bs-card-bg);
  --crt-dashboard-card-text-color: var(--pc-heading-color);
  --crt-dashboard-card-count-text-color: var(--pc-heading-color);
  --crt-user-profile-dropdown-text-color: var(--bs-body-color);
  --crt-user-profile-dropdown-background: var(--bs-card-bg);
  --crt-user-profile-header-text-color: var(--bs-white-rgb);
  --crt-user-profile-header-background: var(--bs-primary-rgb);
  --crt-logout-button-background: var(--bs-primary-rgb);
  --crt-user-profile-label-text-color: var(--bs-body-color);

  --crt-breadcrumb-title-color: var(--pc-heading-color);
  --crt-breadcrumb-link-color: var(--bs-body-color);
  --crt-breadcrumb-link-hover-color: #04a9f5;
/* start -> header color for light -> default theme */
  --crt-header-background: rgba(244, 247, 250, 0.7);
  --crt-header-color: #5b6b79;
  --crt-header-shadow: none;
  --crt-header-icon-hover-color: #04a9f5;
/* end -> header color for light -> default theme */
  
/* start -> sidebar header(logo) color for light -> default theme */
  --crt-sidebar-header-background: #3f4d67;
  --crt-sidebar-header-main-active-color: #fff;
/* end -> sidebar header(logo) for light -> default theme */

/* start -> sidebar for for light -> default theme */
  --crt-sidebar-main-background: #3f4d67;
  --crt-sidebar-main-shadow: 1px 0 20px 0 #3f4d67;
  --crt-sidebar-main-caption-color: #e8edf7;
  --crt-sidebar-main-caption-secondary-text-color: #67758a;
  --crt-sidebar-main-color: #a9b7d0;
  --crt-sidebar-main-active-background: rgba(0, 0, 0, 0.1);
  --crt-sidebar-main-active-color: #04a9f5;
  --crt-sidebar-main-active-clr: #fff;
  --crt-sidebar-main-link-active-highlight-color: rgba(0, 0, 0, 0.1);
/* end -> sidebar for for light -> default theme */

  --pc-card-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  --pc-header-submenu-background: #ffffff;
  --pc-header-submenu-color: #5b6b79;
  --bs-card-border-color: #f1f1f1;
  --bs-card-bg: #ffffff;
  --bs-body-color: #888;
  --bs-bg-opacity: 1;
  --bs-primary-rgb: rgba(4, 169, 245, 1);
  --bs-white-rgb: rgba(255, 255, 255, 1);
}

[data-theme="dark"] {
  --bs-body-bg: #212224;
  --bs-body-bg-rgb: 33, 34, 36;
  --pc-heading-color: rgba(255, 255, 255, 0.8);
  --crt-setting-panel-sub-section: #748892;
  --crt-sidebar-background: #2b2c2f;
  --crt-primary-orange: #e46c09;
  --crt-sidebar-color: rgba(255, 255, 255, 0.7);
  --crt-sidebar-shadow: none;
  --crt-sidebar-color-rgb: 255, 255, 255;
  --crt-sidebar-border: 1px dashed #242d39;
  --crt-sidebar-main-active-color: #fff;
  --crt-sidebar-submenu-border-color: var(--bs-gray-600);
  --crt-sidebar-caption-color: rgba(255, 255, 255, 0.8);
/* start -> header color for dark theme */
  --crt-header-background: rgba(33, 34, 36, 0.7);
  --crt-header-color: #6f747f;
  --crt-header-shadow: none;
/* end -> header color for dark theme */

/* start -> sidebar header(logo) color for dark theme */
  --crt-sidebar-header-background: #2b2c2f;
  --crt-sidebar-header-main-active-color: #fff;
/* end -> sidebar header(logo) for dark theme */

/* start -> sidebar for dark theme */
  --crt-sidebar-main-background: #2b2c2f;
  --crt-sidebar-main-shadow: none;
  --crt-sidebar-main-caption-color: rgba(255, 255, 255, 0.8);
  --crt-sidebar-main-caption-secondary-text-color: #8a9eb5;
  --crt-sidebar-main-color: rgba(255, 255, 255, 0.7);
  --crt-sidebar-main-active-background: rgba(0, 0, 0, 0.1);
  --crt-sidebar-main-active-color: #04a9f5;
  --crt-sidebar-main-active-clr: #fff;
  --crt-sidebar-main-link-active-highlight-color: rgba(255, 255, 255, 0.05);
/* end -> sidebar for dark theme */

  --pc-active-background: #282a2c;
  --pc-card-box-shadow: 0 0px 2px 0 rgba(69, 90, 100, 0.5);
  --pc-header-submenu-background: #393b3f;
  --pc-header-submenu-color: var(--bs-body-color);
  --bs-heading-color: #fafafa;
  --bs-body-color: #bfbfbf;
  --bs-body-color-rgb: to-rgb(#bfbfbf);
  --bs-border-color: #46484c;
  --ck-color-image-caption-background: #2b2c2f;
  --ck-color-image-caption-text: #bfbfbf;
  --crt-sidebar-active-background: rgba(0, 0, 0, 0.1);
  --crt-sidebar-active-color: #04a9f5;
  --crt-sidebar-scrollbar-color: #505d70;
  --crt-sidebar-caption-secondary-text-color: #8a9eb5;
  --crt-sidebar-link-active-highlight-color: rgba(255, 255, 255, 0.05);
  --crt-footer-background: var(--bs-body-bg);
  --crt-footer-text-color: var(--bs-body-color);
  --crt-app-layout-background: var(--bs-body-bg);
  --crt-app-layout-text-color: var(--bs-body-color);
  --crt-dashboard-card-background: var(--bs-card-bg);
  --crt-dashboard-card-text-color: var(--pc-heading-color);
  --crt-dashboard-card-count-text-color: var(--pc-heading-color);
  --crt-user-profile-dropdown-text-color: var(--bs-body-color);
  --crt-user-profile-dropdown-background: var(--bs-card-bg);
  --crt-user-profile-header-text-color: var(--bs-white-rgb);
  --crt-user-profile-header-background: var(--bs-primary-rgb);
  --crt-logout-button-background: var(--bs-primary-rgb);
  --crt-user-profile-label-text-color: var(--bs-body-color);

  --crt-breadcrumb-title-color: var(--pc-heading-color);
  --crt-breadcrumb-link-color: var(--bs-body-color);
  --crt-breadcrumb-link-hover-color: #04a9f5;

  --crt-header-icon-hover-color: #04a9f5;
  --bs-card-bg: #2b2c2f;
  --bs-card-border-color: #393b3f;
  --bs-body-color: #bfbfbf;
  --bs-bg-opacity: 1;
  --bs-primary-rgb: rgba(4, 169, 245, 1);
  --bs-white-rgb: rgba(255, 255, 255, 1);
}
